<!DOCTYPE html>
<head>
  <title>Plant Flowers in Your Garden</title>
</head>

<body>
  <h1>Plant Flowers in Your Garden</h1>
  <table border=2>
      <tr>
        <td>重要度</td>
        <td>タスク名</td>
        <td>納期</td>
        <td>コメント</td>
        <td>編集</td>
      </tr>
      <tr>
        <form action="{% url "tasks:new" %}" method="POST" >
          {% csrf_token %}
        <td>{{ newform.taskImportance }}</td>
        <td>{{ newform.taskName }}</td>
        <td>{{ newform.dueDate }}</td>
        <td>{{ newform.comment }}</td>
        <td><button type="submit">新規登録</button></td>
      </form>
      </tr>

      <!-- {% for task in tasks %}
        <tr>
          <form action="{% url 'tasks:edit' task.pk %}" method="POST">
            {% csrf_token %}
            <td><input type="textField" name="taskImportance" value="{{ task.taskImportance }}"></td>
            <td>{{ task.taskName }}</td>
            <td>{{ task.dueDate }}</td>
            <td>{{ task.comment }}</td>
            <td><button type="submit">編集</button></td>
          </form>
        </tr>
      {% endfor %} -->

      {% for f in forms %}
      <tr>
        <form action="{% url 'tasks:edit2' f.id %}" method="POST">
          {% csrf_token %}
          <td>{{ f.form.taskImportance }}</td>
          <td>{{ f.form.taskName }}</td>
          <td>{{ f.form.dueDate }}</td>
          <td>{{ f.form.comment }}</td>
          <td><button type="submit">編集</button></td>
        </form>
      </tr>
      {% endfor %}

  </table>


</body>
